<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Angular 6 Demo</h1>
      <p class="lead text-muted">
        This trivial level application is just to demonstrate my Angular skill
        <br> which I have made with minimum efforts and limited time.
        <br>
        <img class="img-fluid clearfix my-2" src="assets/images/welcome-namaste.gif" id="welcom">
        <br> Thanks for checking it..!
      </p>
      <p>
        <a href="#" routerLink="/customers" class="btn btn-primary mr-2">Customer</a>
        <a href="#" routerLink="/admin" class="btn btn-info ml-2">Admin</a>
      </p>
    </div>

    <a class="btn btn-primary mt-5 mb-2" data-toggle="collapse" href="#projectdetails" role="button" aria-expanded="false" aria-controls="collapseExample">
      Click here to list used Angular features
    </a>

    <section class="collapse text-monospace text-left text-muted alert alert-light" id="projectdetails">
      <h3>Angular-CLI 6.0.3:</h3>
      <ul class="list-group-flush text-left">
        <li class="list-group-item">Bootstrap 4 (responsive layout)</li>
        <li class="list-group-item">Font Awesome icons</li>
        <li class="list-group-item">Separate Modules for Admin/Customers</li>
        <li class="list-group-item">Routing</li>
        <li class="list-group-item">Reactive Forms</li>
        <li class="list-group-item">Custom Directives</li>
        <li class="list-group-item">Custom Validators</li>
        <li class="list-group-item">Async Validators</li>
        <li class="list-group-item">Http Interceptor</li>
        <li class="list-group-item">Two-way binding</li>
        <li class="list-group-item">Services</li>
        <li class="list-group-item">Error handling</li>
        <li class="list-group-item">Global variables</li>
        <li class="list-group-item">
          <i>..and many common Angular utilities..</i>
        </li>
      </ul>
      P.S.: There is a mock backend API used to support this application with live http calls.
    </section>

  </section>

</main>


<!--  
<button routerLink="/customers">Customers</button>
<button routerLink="/orders">Orders</button>
<button routerLink="">Home</button>
-->