<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Angular 6 Demo</h1>
      <p class="lead text-muted">
        This trivial level application is just to demonstrate my Angular skill
        <br> which I have made with minimum efforts and limited time.
        <br>
        <img class="img-fluid clearfix my-2" src="assets/images/welcome-namaste.gif" id="welcom">
        <br> Thanks for checking it..!
      </p>
      <p>
        <a href="#" routerLink="/customers" class="btn btn-primary mr-2">Customer</a>
        <a href="#" routerLink="/admin" class="btn btn-info ml-2">Admin</a>
      </p>
    </div>

    <section class="text-monospace text-muted">
      P.S.: There is a mock backend API used to support this application with live http calls.
    </section>

  </section>

</main>


<!--  
<button routerLink="/customers">Customers</button>
<button routerLink="/orders">Orders</button>
<button routerLink="">Home</button>
-->