/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

/* body{
    /*font-family: Verdana, Geneva, Tahoma, sans-serif; /
    margin: 0px;
    padding: 0px;
    min-height: 100%;
    height: auto; 
} */

html{
    margin: 0;
    height: 100%;
    position: relative;
}
body{
    height: auto;
    min-height: 100%;
    margin: 0;
    bottom: 0;
    position: relative;
    /* border: 2px solid red; */
}